<h1>Welcome!</h1>
<p>Glad you found it :D</p>
<p><p>
<div id="no-drop" class="draggable drag-drop"> #no-drop </div>

<div class="draggable drag-drop duckie"> <%= image_tag "duckie.jpg" %> </div>

<div id="outer-pond">
  <div id="inner-dropzone" class="dropzone"></div>
 </div>
