/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */


#outer-dropzone {
  height: 140px;
}

#inner-dropzone {
  height: 80px;
  width: 500px;
}

.dropzone {
  /*border: dashed 4px transparent;*/
  border-radius: 4px;
  padding: 10px;
  width: 80%;
  transition: background-color 0.3s;
}

.drop-target {
  /*background-color: #29e;
  border-color: #fff;
  border-style: solid;*/
}

.drag-drop {
  display: inline-block;
  min-width: 40px;

  -webkit-transform: translate(0px, 0px);
          transform: translate(0px, 0px);

  transition: background-color 0.3s;
}


#outer-pond {
	background: url('/assets/pond.png') no-repeat;
	width: 100%;
  height: 500px;
  padding-top: 160px;
}